In [12]:
import polars as pl

df = pl.read_parquet(r"C:\Users\zhang.yuan\Desktop\git\cni_observatorio\trello_polars\trello__organizations\*.parquet")
df.count()

shape: (1, 11)
┌──────┬─────────┬─────────────────┬──────┬───┬──────┬─────┬──────────┬─────────┐
│ area ┆ idBoard ┆ idOrganizations ┆ name ┆ … ┆ desc ┆ url ┆ logoHash ┆ logoUrl │
│ ---  ┆ ---     ┆ ---             ┆ ---  ┆   ┆ ---  ┆ --- ┆ ---      ┆ ---     │
│ u32  ┆ u32     ┆ u32             ┆ u32  ┆   ┆ u32  ┆ u32 ┆ u32      ┆ u32     │
╞══════╪═════════╪═════════════════╪══════╪═══╪══════╪═════╪══════════╪═════════╡
│ 1    ┆ 1       ┆ 1               ┆ 1    ┆ … ┆ 1    ┆ 1   ┆ 1        ┆ 1       │
└──────┴─────────┴─────────────────┴──────┴───┴──────┴─────┴──────────┴─────────┘

In [ ]:
trello__actions       6660
trello__board         26
trello__card          970
trello__checklist     6528
trello__customfields  15463
trello__enterprise    1
trello__list          742
trello__member        75
trello__organizations 1

In [19]:
x

[2021, 2022, 2023]

In [6]:
filter_values = ['2023', '2022', '2021']

In [10]:
df['ano']

shape: (4_939,)
Series: 'ano' [str]
[
	"2023"
	"2023"
	"2023"
	"2023"
	"2023"
	"2023"
	"2023"
	"2023"
	"2023"
	"2023"
	"2023"
	"2023"
	…
	"2021"
	"2021"
	"2021"
	"2021"
	"2021"
	"2021"
	"2021"
	"2021"
	"2021"
	"2021"
	"2021"
	"2021"
	"2023"
]

In [9]:
df.filter(df['ano'].isin(filter_values))

AttributeError: 'Series' object has no attribute 'isin'

In [12]:
x = df['ano'].distinct().to_list()

AttributeError: 'Series' object has no attribute 'distinct'